@use '../../tokens/scss/tokens';

%button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border-width: 0;
  border-radius: 0.5em;
  font-size: inherit;
  line-height: 1;
  transition: background-color 0.2s;

  &:focus:enabled {
    box-shadow: 0 0 0 0.125em tokens.$whales-tale-1000, inset 0 0 0 0.125em tokens.$white-500;
    outline: none;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: tokens.$cool-grey-200;
    box-shadow: none;
    color: tokens.$cool-grey-300;
  }
}

%button--primary {
  background-color: tokens.$issuu-orange-600;
  color: tokens.$white-500;
  font-weight: 700;

  &:hover:not(:focus):enabled {
    background-color: tokens.$issuu-orange-700;
  }

  &:focus:enabled {
    background-color: tokens.$issuu-orange-800;
  }
}

%button--ghost {
  background-color: transparent;
  color: tokens.$cool-grey-1000;

  &:hover:not(:focus):enabled {
    background-color: tokens.$cool-grey-100;
  }

  &:focus:enabled {
    background-color: tokens.$cool-grey-200;
  }
}

%button--loading {
  opacity: 0.65;
}

%button__icon {
  display: flex;
  max-height: 1em;
  align-items: center;
  justify-content: center;
}

%button__icon--left {
  order: -1;
  margin-inline-end: 0.5em;
}

%button__icon--right {
  order: 1;
  margin-inline-start: 0.5em;
}
